@page "/teacher-calendar"
@inject TeacherCalendarViewModel ViewModel
@inject IAccountManagement Acct
@inject NavigationManager NavigationManager

@attribute [Authorize]


<h3 class="m-3">Din kalender</h3>

<Card class="m-3" style="max-width: 400px;">
    <CardHeader Color="CardColor.Primary">
        <div class="container">
            <div class="row">

                <div class="col text-center">
                    <Button @onclick="ViewModel.GoToPrevMonth">
                        <Icon Name="IconName.ArrowLeft" />
                    </Button>
                    @ViewModel.Month.MonthName @ViewModel.Month.Year
                    <Button @onclick="ViewModel.GoToNextMonth">
                        <Icon Name="IconName.ArrowRight" />
                    </Button>
                </div>

            </div>
        </div>
    </CardHeader>
    <CardBody>
        <section class="calendar-body">
            @for (int i = 0; i < 7; i++)
            {
                <b class="m-1 text-center">@Enum.GetName(typeof(WeekDayLetters), i)</b>
            }
            @for (int i = 0; i < ViewModel.Month.NumOfDummyColumns - 1; i++)
            {
                <div />
            }

            @foreach (var day in ViewModel.Month.Days)
            {
                if (ViewModel.Month.DateOfToday.Day == day.Date)
                {
                    <div class="text-center today" @onclick="async () => await ViewModel.PickDateToCreateMeeting(day.Date)">
                        @day.Date
                        @if (ViewModel.Month.BookableDates.Any(d => d == day.Date))
                        {
                            <Badge Color="BadgeColor.Danger">
                                @ViewModel.Month.BookableDates.Count;
                            </Badge>
                        }
                    </div>
                    continue;

                }
                <div class="text-center" @onclick="async () => await ViewModel.PickDateToCreateMeeting(day.Date)">
                    @day.Date
                    @if (ViewModel.Month.BookableDates.Any(d => d == day.Date))
                    {
                        <Badge Color="BadgeColor.Danger"
                               IndicatorType="BadgeIndicatorType.RoundedPill">
                            1
                        </Badge>
                    }
                </div>
            }
        </section>
    </CardBody>
</Card>






@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var isAuthenticated = await Acct.CheckAuthenticatedAsync();

        if (isAuthenticated is false)
            NavigationManager.NavigateTo("/");

        await ViewModel.GenerateMonth(0);

    }

}